<h2> Contact us </h2>
<form method="POST" action="/contact_us">   
  <label for="email">Email Address</label>
  <br>   
  <input type="text" name="email"> 
  <br> 
  <label for="text">Your Comment</label>
  <br>
  <textarea rows="4" cols="50" type="text" name="text"> </textarea>
  <br>
  <input type="submit">   
</form>