<h2> Happy page </h2>
<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> 
<% menu = ["home", "about", "contact", "etc"] %>
<ul>
    <%menu.each do |x| %>
        <li> <a href = "#"> <%= x%> </li>
    <% end %>
</ul>
 -->
